langchain==0.1.6
# torch==2.1.1
transformers
sentence-transformers
faiss-cpu
langchain-community==0.0.19
pypdf
flask
python-dotenv
einops
#conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia


-e .